# for editor
neovim
# deoplete with 0.4.0 is not work in CentOS
pynvim<=0.3.2
greenlet
jedi

# basic library
pandas
numpy
scipy
matplotlib

# for debug
ipython
pdbpp
pytest

# for linter
flake8
flake8-docstrings
hacking
