# for editor
neovim
pynvim>=0.4.3
greenlet
jedi

# basic library
pandas
numpy
scipy
matplotlib
soundfile
scikit-learn

# for debug
ipython
pdbpp
pytest

# for linter and formatter
hacking==6.0.1
flake8==5.0.4
pyproject-flake8==5.0.4
flake8-docstrings==1.7.0
black
isort
