#############################
#    COMPLETION PLUGINS     #
#############################
# {{{
[[plugins]]
repo = 'Shougo/neosnippet'
depends = ['neosnippet-snippets', 'context_filetype.vim']
on_event = 'InsertCharPre'
on_ft = 'snippet'
hook_source = '''
  imap <C-k> <Plug>(neosnippet_expand_or_jump)
  smap <C-k> <Plug>(neosnippet_expand_or_jump)
  xmap <C-k> <Plug>(neosnippet_expand_target)
  if has('conceal')
    set conceallevel=2 concealcursor=niv
  endif
'''

[[plugins]]
repo = 'Shougo/neosnippet-snippets'
# }}}

#############################
#      DENITE PLUGINS       #
#############################
# {{{
[[plugins]]
repo = 'Shougo/denite.nvim'
rev = '2.1'
on_cmd = 'Denite'
hook_source = '''
  " default settings
  call denite#custom#option('default', 'prompt', '>>>')
  call denite#custom#option('default', 'statusline', v:false)

  " use fd instead of find
  if executable('fd')
    call denite#custom#var('file/rec', 'command',
      \ ['fd', '--type', 'file', '--hidden', '--ignore-file', expand('~/.ignore'), '.'])
    call denite#custom#var('directory_rec', 'command',
      \ ['fd', '--type', 'directory', '--hidden', '--no-ignore', '.'])
  endif

  " use rg intead of grep
  if executable('rg')
    call denite#custom#var('grep', 'command', ['rg'])
    call denite#custom#var('grep', 'recursive_opts', [])
    call denite#custom#var('grep', 'final_opts', [])
    call denite#custom#var('grep', 'separator', ['--'])
    call denite#custom#var('grep', 'default_opts', ['--vimgrep', '--no-heading'])
  endif

  " replace with grep
  function! DeniteGrepAllReplace(context)
    let qflist = []
    for target in a:context['targets']
      if !has_key(target, 'action__path') | continue | endif
      if !has_key(target, 'action__line') | continue | endif
      if !has_key(target, 'action__text') | continue | endif

      call add(qflist, {
            \ 'filename': target['action__path'],
            \ 'lnum': target['action__line'],
            \ 'text': target['action__text']
            \ })
    endfor
    call setqflist(qflist)
    call qfreplace#start('')
  endfunction
  call denite#custom#action('file', 'replace', function('DeniteGrepAllReplace'))
'''
hook_add = '''
  " shortcut setting
  nnoremap <silent> <C-f>f :<C-u>Denite -winheight=15 file/rec<CR>
  nnoremap <silent> <C-f>r :<C-u>Denite -winheight=15 file_mru<CR>
  nnoremap <silent> <C-f>d :<C-u>Denite -winheight=15 directory_rec<CR>
  nnoremap <silent> <C-f>g :<C-u>Denite -winheight=15 grep<CR>
  nnoremap <silent> <C-f>b :<C-u>Denite -winheight=15 buffer<CR>
  nnoremap <silent> <C-f><C-g> :<C-u>Denite -winheight=15 grep:::!<CR>
  nnoremap <silent> <C-f><C-f> :<C-u>Denite -resume -mode=normal<CR>
  nnoremap <silent> <C-f>/ :<C-u>Denite -winheight=15 -auto-highlight line<CR>
  nnoremap <silent> <C-f>* :<C-u>DeniteCursorWord -winheight=15 -auto-highlight -mode=normal line<CR>
'''

[[plugins]]
repo = 'Shougo/neomru.vim'
on_source = ['denite.nvim']
# }}}

#############################
#      SOURCE ON EVENT      #
#############################
# {{{
[[plugins]]
repo = 'Shougo/echodoc.vim'
on_event = 'CompleteDone'
hook_source = '''
  let g:echodoc#type = 'floating'
  call echodoc#enable()
'''

[[plugins]]
repo = 'mg979/vim-visual-multi'
on_event = 'CursorMoved'

[[plugins]]
repo = 'airblade/vim-gitgutter'
# fix version since highlight of sign column does not work well
rev = 'c27bfab8c51e77419ee0c4a9c4e3ba359dbc2ad4'
on_event = ['RooterChDir']
hook_add = '''
  nmap <Space>ht :GitGutterLineHighlightsToggle<CR>
  nmap <Space>ha <Plug>(GitGutterStageHunk)
  nmap <Space>hr <Plug>(GitGutterUndoHunk)
  set signcolumn=yes
  set updatetime=100
'''
hook_source = '''
  let g:gitgutter_sign_added = '+'
  let g:gitgutter_sign_modified = '-'
  let g:gitgutter_sign_removed = 'x'
  let g:gitgutter_terminal_reports_focus = 0
  if executable('rg')
    let g:gitgutter_grep = 'rg'
  endif
'''
# }}}

#############################
#  SOURCE ON MAP & COMMAND  #
#############################
# {{{
[[plugins]]
repo = 'junegunn/vim-easy-align'
on_map = '<Plug>(EasyAlign)'
hook_add = 'vmap <Enter> <Plug>(EasyAlign)'

[[plugins]]
repo = 'LeafCage/yankround.vim'
on_map = '<Plug>(yankround-'
hook_add = '''
  nmap p <Plug>(yankround-p)
  xmap p <Plug>(yankround-p)
  nmap P <Plug>(yankround-P)
  nmap gp <Plug>(yankround-gp)
  xmap gp <Plug>(yankround-gp)
  nmap gP <Plug>(yankround-gP)
  nmap <C-p> <Plug>(yankround-prev)
  nmap <C-n> <Plug>(yankround-next)
'''

[[plugins]]
repo = 'jpalardy/vim-slime'
on_map = '<Plug>Slime'
hook_add = '''
  let g:slime_python_ipython = 1
  let g:slime_dont_ask_default = 1
  let g:slime_target = "tmux"
  let g:slime_default_config = {"socket_name": "default", "target_pane": "1"}
  xmap <C-c><C-c> <Plug>SlimeRegionSend
  nmap <C-c><C-c> <Plug>SlimeParagraphSend
'''

[[plugins]]
repo = 'scrooloose/nerdtree'
on_cmd = ['NERDTreeToggle', 'NERDTree']
hook_add = 'map <Space><Space> :NERDTreeToggle<CR>'
# }}}

#############################
#    SOURCE ON FILETYPE     #
#############################
# {{{
[[plugins]]
repo = 'Shougo/context_filetype.vim'

[[plugins]]
repo = 'heavenshell/vim-pydocstring'
on_ft = 'python'
hook_add = '''
  nmap <silent> <C-_> <Plug>(pydocstring)
'''
build = 'make install'
hook_source = '''
  let g:pydocstring_formatter = 'google'
'''

[[plugins]]
repo = 'tpope/vim-markdown'
on_ft = 'markdown'
hook_source = 'let g:markdown_syntax_conceal = 0'

[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'elzr/vim-json'
on_ft = 'json'
hook_source = 'let g:vim_json_syntax_conceal = 0'

[[plugins]]
repo = 'tmhedberg/SimpylFold'
on_ft = 'python'

[[plugins]]
repo = 'Vimjas/vim-python-pep8-indent'
on_ft = 'python'

[[plugins]]
repo = 'osyo-manga/vim-precious'
depends = ['context_filetype.vim']
on_ft = ['toml', 'markdown']
# }}}
